$--mg-direction-index: l, r, t, b;
$--mg-direction: left, right, top, bottom;
@for $i from 1 through length($--common-size-index){
  $size:nth($--common-size-index, $i);
  $size-num:nth($--mg-pd-size, $i);
  @for $j from 1 through length($--mg-direction-index){
    $direction-index:nth($--mg-direction-index, $j);
    $direction:nth($--mg-direction, $j);
    .mg-#{$direction-index}-#{$size} {
      margin-#{$direction}:#{$size-num}px;
    }
    .pd-#{$direction-index}-#{$size} {
      padding-#{$direction}:#{$size-num}px;
    }
  }
}