
.scroll {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.scroll.x {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}

.scroll.hover-type {
  overflow-y: hidden !important;
}

.scroll.hover-type:hover {
  overflow-y: auto !important;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.scroll::-webkit-scrollbar-thumb {
  background: @primary-color;
}


.scroll.x::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}