$--menu-width:220px;
$--menu-collapse-width:64px;
$--main-width:calc(100vw - #{$--menu-width});
$--main-collapse-width:calc(100vw - #{$--menu-collapse-width});
$--head-height: 55px;
$--foot-height: 50px;
$--body-height:calc(100vh - #{$--foot-height});
