.media-mobile{
  .ant-layout{
    .ant-layout-sider{
      position: fixed;
      display: block;
    }

    .ant-layout-sider.collapse{
      display: none;
    }

    /deep/ .ant-layout{
      width: 100% !important;
      min-width: @media-min-width-mobile;
      padding-left: 0 !important;
    }
  }
}
.ant-layout{
  height: 100%;
  .ant-layout-sider{
    box-shadow: 2px 0 8px #1d23290d;
    width: @menu-width !important;
    max-width: @menu-width !important;
    min-width: @menu-width !important;
    z-index: 3;
    height: 100%;
  }

  .ant-layout-sider.collapse{
    width:@menu-collapse-width !important;
    max-width: @menu-collapse-width !important;
    min-width: @menu-collapse-width !important;
  }

  .ant-layout{
    width: @main-width;
  }

  .ant-layout.collapse{
    width: @main-collapse-width;
  }
}