.media-mobile{
  .el-container{
    .el-aside{
      display: block;
    }

    .el-aside.collapse{
      display: none;
    }

    /deep/ .el-container{
      width: 100% !important;
      min-width: $--media-min-width;
      padding-left: 0 !important;
    }
  }
}
.el-container{
  height: 100%;
  .el-aside{
    position: fixed;
    top: 0;
    box-shadow: 2px 0 8px #1d23290d;
    width: $--menu-width !important;
    z-index: 3;
    height: 100%;
    transition: width 0.15s;
    -webkit-transition: width 0.15s;
    -moz-transition: width 0.15s;
    -o-transition: width 0.15s;
  }

  .el-aside.collapse{
    width:$--menu-collapse-width !important;
  }

  .el-container{
    padding-left: $--menu-width;
  }

  .el-container.collapse{
    padding-left: $--menu-collapse-width;
  }
}