.box{
  width: 80%;
  height: 90%;
  box-shadow: @box-shadow-base;
  border-radius: 1%;

  @loginFormHeight:80px;

  &>div{
    width: 100%;
  }

  .bg-img{
    height: calc(100% - @loginFormHeight);
    background-color: #ebf4ff;
  }

  .login-form{
    padding-top: @padding-sm;
    height:@loginFormHeight;
  }
}